{% extends 'tpl/layouts/app.twig' %}
{% block contentView %}
<div class="wrapper first">
	<div class="wrapper">
		<div class="container">
			<div class="list">
				<div class="item">
					<div class="tableHelper">
						<div class="cellHelper">
							<h3>Wikipedia Related Posts To Given Word</h3>
							<div class="wrapit">
								<div class="subtitle">Word:	</div> <input type="text" id="input" value="Enter Something">
								<div class="btn">Click to be able get new search</div>
								<div class="clear"></div>
							</div>
							
							<div class="items"></div>
						</div>
						
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}