{% extends 'tpl/layouts/app.twig' %}
{% block contentView %}
<h1><span class="blue">&lt;</span>Api<span class="blue">&gt;</span> <span class="yellow">Wikipedia</pan></h1>
	<div class="searchbar">
		<div class="subtitle">Word:	</div> <input type="text" id="input" value="Enter Something">
		<div class="btn">Reset to search another one</div>
	</div>


<table class="container">
	<thead>
		<tr>
			<th><h1>Sites</h1></th>
			<th><h1>Links</h1></th>

		</tr>
	</thead>
	<tbody class="items">
		
	</tbody>
</table>
{% endblock %}